<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Speed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CFFBBE31C13C27C00A52EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CFFBBF71C13C27C00A52EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CFFBC021C13C27D00A52EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
